#preview {
	margin-top:10px;
}
#preview img.preview {
	width:200px;
	-webkit-box-shadow: 1px 1px 5px #333;
	-moz-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;
}
input.preview {
	background-color:#6B90D4;
	color:white;
}
img.small {
	width:200px;
}
img.medium {
	width:450px;
}
img.large {
	width:900px;
}
article img {
	max-width:900px;
	margin:10px;
}

pre {
	font-family:UbuntuMonoRegular;
	margin-top:0.8em;
	padding-left:10px;
	
}
article {
	text-align:justify;
}

.apache, .apachecontainer {
	color:#378de5;
	font-family:UbuntuMonoRegular;
}

span.apachecontainer:before {
	content: "<";
}

span.apachecontainer:after {
	content: ">"
}

span.tag:before {
	content: "<";
	color:rgba(65, 105, 225, 0.699219);
	font-weight: normal;
}
span.tag:after {
	content: ">";
	color:rgba(65, 105, 225, 0.699219);
	font-weight: normal;
	margin-right:2px;
}
span.tag {
	font-family:UbuntuMonoRegular;
	color:rgb(65, 105, 225);
	font-weight:bold;
}

.url {
	font-family:UbuntuMonoRegular;
}

span.url:before {
	content: '"';
}

span.url:after {
	content: '"';
}

img.floatCenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
}

  table.apache:after {
    content: "Apache";
  }
  table.apache a {
    color: #3c4c72; }
  table.apache td.de1 pre.de1 {
    color: #555; }
  table.apache .br0 {
    color: black; }
  table.apache .re0 {
    color: #318495; }
  table.apache .sy0, table.apache .sy1 {
    color: blue; }
  table.apache .st0 {
    color: #036a07; }
  table.apache .co1, table.apache .co2, table.apache .coMULTI {
    color: #ff7f00; }
  table.apache .kw1 {
    color: blue; }
  table.apache .kw2 {
    color: blue; }
  table.apache .st_h {
    color: green; }

div.homework  ul, ol {
  margin-top: 0em;
  margin-bottom: 0em;
}

div.homework ol li {
  margin-top: 0.5em;
}

div.homework ul li {
  margin-top: 0.5em;
}

div.homework ol ul {
  margin-left: 2em;
}

div.homework li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.moveUp:before {
  font-family: "SymbolFont";
  content: ":";
}

.belowArticleButtons {
	height:45px;
}
div.emphasize {
  text-align: left;
}
