#preview {
	margin-top:10px;
}
#preview img.preview {
	width:200px;
	-webkit-box-shadow: 1px 1px 5px #333;
	-moz-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;
}
input.preview {
	background-color:#6B90D4;
	color:white;
}
img.small {
	width:205px;
}
img.medium {
	width:450px;
}
img.large {
	width:900px;
}
article img {
	max-width:900px;
	margin:10px;
}

pre {
	font-family:UbuntuMonoRegular;
	margin-top:0.8em;
	padding-left:10px;
	
}
article {
	text-align:justify;
}

.apache, .apachecontainer {
	color:#378de5;
	font-family:UbuntuMonoRegular;
}

span.apachecontainer:before {
	content: "<";
}

span.apachecontainer:after {
	content: ">"
}

.tomcat, .tomcatxmltag {
	color:#df0101;
	font-family:UbuntuMonoRegular; }

span.tomcatxmltag:before {
	content: "<"; }

span.tomcatxmltag:after {
	content: ">"; }

span.tag:before {
	content: "<";
	color:rgba(65, 105, 225, 0.699219);
	font-weight: normal;
}
span.tag:after {
	content: ">";
	color:rgba(65, 105, 225, 0.699219);
	font-weight: normal;
	margin-right:2px;
}
span.tag {
	font-family:UbuntuMonoRegular;
	color:rgb(65, 105, 225);
	font-weight:bold;
}

.url {
	font-family:UbuntuMonoRegular;
}

span.url:before {
	content: '"';
}

span.url:after {
	content: '"';
}

img.floatCenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:12px;
}

  table.apache:after {
    content: "Apache";
  }
  table.apache a {
    color: #3c4c72; }
  table.apache td.de1 pre.de1 {
    color: #555; }
  table.apache .br0 {
    color: black; }
  table.apache .re0 {
    color: #318495; }
  table.apache .sy0, table.apache .sy1 {
    color: blue; }
  table.apache .st0 {
    color: #036a07; }
  table.apache .co1, table.apache .co2, table.apache .coMULTI {
    color: #ff7f00; }
  table.apache .kw1 {
    color: blue; }
  table.apache .kw2 {
    color: blue; }
  table.apache .st_h {
    color: green; }

div.homework  ul, div.homework ol {
  margin-top: 0em;
  margin-bottom: 0em;
}

div.homework ol li {
  margin-top: 0.5em;
}

div.homework ul li {
  margin-top: 0.5em;
}

div.homework ol ul {
  margin-left: 2em;
}

div.homework li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

div.information  ul, div.information ol {
  margin-top: 0em;
  margin-bottom: 0em;
}

div.information ol li {
  margin-top: 0.5em;
}

div.information ul li {
  margin-top: 0.5em;
}

div.information ol ul {
  margin-left: 2em;
}

div.information li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1em;
}




.moveUp:before {
  font-family: "SymbolFont";
  content: ":";
}

.belowArticleButtons {
	height:45px;
}
div.emphasize {
  text-align: left;
}

#content a.anchor {
  color : #0080FF;
  text-decoration: underline;
}

#content a.anchor:before {
  font-family: "SymbolFont";
  content : "K";
  margin-right: 3px;
}

table.xml:after {
  content: "XML"; }

table.xml .imp {
  font-weight: bold;
  color: orange; }

table.xml .kw2 {
  color: #4169e1;
  font-weight: bold; }

table.xml .kw3 {
  color: #4169e1;
  font-style: italic; }

table.xml .es0 {
  color: #4169e1;
  font-weight: bold; }

table.xml .br0 {
  color: #4169e1; }

table.xml .sy0 {
  color: rgba(65, 105, 225, 0.7); }

table.xml .st0 {
  color: green; }

table.xml .nu0 {
  color: red; }

table.xml .sc-2 {
  color: red; }

table.xml .sc-1 {
  color: orange;
  font-style: italic; }

table.xml .sc0 {
  color: red; }

table.xml .sc1 {
  color: red; }

table.xml .sc2 {
  color: rgba(65, 105, 225, 0.7); }
                                   
table.xml .re0 {   /*ATTRIBUTES*/
  color: #0080FF; }

table.xml .re1 {   /*OPENING BRACKETS*/
  color: red; }

table.xml .re2 {   /*CLOSING BRACKETS*/
  color: red; }


div.itemBrowser h2 {

}
div.itemBrowser {
	margin-left: 30px;
}
div.cssSwitcher {
	position:absolute;
	top:0px;
	height:10px;
	overflow:hidden;
	width:100%;
	z-index:999;
	transition:all 1s;
	-webkit-transition:all 1s;	
	
	background: rgba(255, 255, 255, 0.85);
	border: 0px solid rgba(220, 220, 220, 0.7);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-ms-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
	-o-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 4px;
	
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	
	opacity:0.5;
}
div.cssSwitcher:hover {
	height:80px;
	transition:all 1s;
	-webkit-transition:all 1s;
	opacity:1;
}
div.cssSwitcher a {
	display:block;
	float:left;
	width:200px;
	height:10px;
}