.login_form {
	button {
		margin-top:5px;
	}
	position:relative;
	width:175px;
}
.login_form label{
	@include textShadowLight;
	margin: 5px 0;
	display:block;				
}
.login_form input[type=text],
.login_form input[type=password] { 
    width:162px;
	@include rounded;
	@include insetShadowMiddle;
	border: 1px solid silver;
	padding: 5px; 
}
.login_form input[type=submit] {
    margin-top:4px;
}
input[type=text],
[type=password] {
	@include rounded;
	@include insetShadowMiddle;
	border: 1px solid silver;
	padding: 5px;
}