.login_form {
	button {
		margin-top:5px;
	}
	position:relative;
	width:180px;
}
.login_form label{
	@include textShadowLight;
	display:block;	
	margin:0px;			
}
.login_form input[type=text],
.login_form input[type=password] { 
	@include rounded;
	@include insetShadowMiddle;
	border: 1px solid silver;
	padding: 5px;
	width:180px;
	box-sizing: border-box;
}
.login_form input[type=submit] {
    margin-top:4px;
    display:block;
}






input[type=text],
[type=password] {
	@include rounded;
	@include insetShadowMiddle;
	border: 1px solid silver;
	padding: 5px;
	display: block;
}