@mixin grayGradientHover {
	background: rgb(71,71,71); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(71,71,71,1) 0%, rgba(60,60,60,1) 50%, rgba(44,44,44,1) 51%, rgba(71,71,71,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,71,71,1)), color-stop(50%,rgba(60,60,60,1)), color-stop(51%,rgba(44,44,44,1)), color-stop(100%,rgba(71,71,71,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(60,60,60,1) 50%,rgba(44,44,44,1) 51%,rgba(71,71,71,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(60,60,60,1) 50%,rgba(44,44,44,1) 51%,rgba(71,71,71,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(60,60,60,1) 50%,rgba(44,44,44,1) 51%,rgba(71,71,71,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(71,71,71,1) 0%,rgba(60,60,60,1) 50%,rgba(44,44,44,1) 51%,rgba(71,71,71,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
}

@mixin shadowMenu {
	//@include box-shadow(1px 1px 1px #333, inset 0px 0px 1px #fff);
}
@mixin shadowMenuDark {
	$color 	:	#000; 
	$blur 	:	1px;
	$offset : 	1px 1px;
	
	$color2 	:	rgba(0,0,0,0.7); 
	$blur2 		:	20px;
	$offset2 	: 	0 0;

	 	-ms-box-shadow: $color $offset $blur,
	 					inset $color2 $offset2 $blur2;
	 	 -o-box-shadow: $color $offset $blur,
	 					inset $color2 $offset2 $blur2;
	   -moz-box-shadow: $color $offset $blur,
	 					inset $color2 $offset2 $blur2;
	-webkit-box-shadow: $color $offset $blur,
	 					inset $color2 $offset2 $blur2;
			box-shadow: $color $offset $blur,
	 					inset $color2 $offset2 $blur2;
	
}

@mixin transitionMenu{
	$value:all;
	$time:0.2s;
	$animation:ease;
  -webkit-transition: $value $time $animation;
  	 -moz-transition: $value $time $animation;
  	   -o-transition: $value $time $animation;
  	   	  transition: $value $time $animation;		
}
#globalheader {
	position:relative;
	display:block;
	height:36px;
	margin:18px auto;
	text-align:left;
	z-index:1;
}
#globalnav {
	@include border-radius(5px);
	font-size:0.8em;
				
	ul.section { //section menu
		position: absolute;
		left:0px;
		visibility:hidden;
		border-top: 0px;
		opacity:0.0;
		@include transition-property(opacity);
		@include transition-duration(0.5s);
		a {
		width:108px;
			border:0px;
			border-top: 1px solid #333;
		}
	}
	
	ul.subSection { //subsection menu
		position:absolute;
		left:108px;
		top:0px;
		visibility: hidden;
		opacity: 0.0;
		border-left:1px solid #555;
		@include transition-property(opacity);
		@include transition-duration(0.5s);
		a {
		width:107px;
			border:0px;
			border-top: 1px solid #333;
    	}
	}
	
	
	a {
		background-color:#767676;
		@include filter-gradient(#767676, #494949, vertical);
		@include background-image(linear-gradient(top, #767676 0%, #636363 50%, #494949 51%,#767676 100%));
//		@include transitionMenu;
		@include text-shadow(#333 1px 1px 0px);
		@include box-shadow(inset #fff 0px 0px 2px);
		width:107px;
		height:36px;  
		overflow:hidden;
		border-left: 1px solid #333;
		display: block;
		text-decoration: none;
		color: white;
		span {
		   	margin-top: 11px;
			display: block;
		}
		&:hover, &.active, &:focus,&.sectionActive, &.subSectionActive {
		    @include grayGradientHover;
    		@include box-shadow(0px 0px 0px);
		}
	} 
	li {
		@include box-shadow(1px 1px 1px #333);
		list-style: none;
	    float: left;
	    position: relative;
		text-align: center;
		&:first-child, &:first-child a.root {
			@include roundedLeft;
			border-left:0px;
		}
		&:hover ul.section {
			display:block;
			visibility:visible;
			opacity:1.0;
			li {
				&:hover ul.subSection {
					display:block;
					visibility: visible;
					opacity: 1.0;
				}
			}
		}
		li {
	    	float: none;
    		display: block;
		}
		/**************************************\
						SEARCH
		\**************************************/
	    &.search {
   			border-left: 1px solid #333;

		    background-color:#767676;
		    @include filter-gradient(#767676, #494949, vertical);
		    @include background-image(linear-gradient(top, #767676 0%, #636363 50%, #494949 51%,#767676 100%));
	    	height:26px;
	    	padding-left: 10px;
	    	padding-right: 10px;
	    	padding-top: 10px;
			@include roundedRight;
			@include text-shadow(#333 1px 1px 0px);
			@include box-shadow(inset #fff 0px 0px 2px,1px 1px 1px #333);

	    	form {
		    	input[type=search] {
				    
				    border:1px solid #555;
				    
				    @include border-radius(15px);
				    
				    
				    @include transition-property(width);
				    @include transition-duration(0.5s);
				    
				    color:#ccc;
				    box-sizing: border-box;
				    width:159px;
				    padding:3px;
				    &:focus {
					    color:#333;
				    }
			    }
		    }
		}
	}        	
}