@font-face{ 
	font-family: 'SymbolFont';
	src: url('./fonts/websymbols-regular-webfont.eot');
	src: url('./fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('./fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('./fonts/websymbols-regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'UbuntuLightRegular';
    src: url('./fonts/ubuntu-light-webfont.eot');
    src: url('./fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ubuntu-light-webfont.woff') format('woff'),
         url('./fonts/ubuntu-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UbuntuMonoRegular';
    src: url('./fonts/ubuntumono-regular-webfont.eot');
    src: url('./fonts/ubuntumono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/ubuntumono-regular-webfont.woff') format('woff'),
         url('./fonts/ubuntumono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}