/**************************************\
		   CONTENT  - ARTICLES
\**************************************/

article {
        background-color: #f2f2f2;
        @include filter-gradient(#f2f2f2, #cccccc, vertical);
        @include background-image(linear-gradient(top,  #f2f2f2 0%,#ddd 76%,#f2f2f2 100%));
        margin-top:14px;
        padding:14px;
        padding-top:5px;
        $borderradius:5px 5px;
        @include border-radius(2px); 
        position:relative;
        border: 1px solid #ccc;
        @include box-shadow(#ccc 1px 1px 2px);
        h2 {

        }
        p { 
            margin:0px;
        }
}