/**************************************\
		   CONTENT - DIVS
\**************************************/
.contentGrayBox {
    @include box-shadow(inset 0px -2px 0px rgba(0,0,0,0.2));
    background : gray;
    width:450px;
    height:75px;
}
div.blackbox {
    //@include background(linear-gradient(right, #333, #555));
    @include box-sizing(border-box);
    @include grayGradient;
    border:1px solid #111;
    @include rounded(4px);
    @include box-shadow(#000 0px 0px 5px,inset #fff 0px 0px 1px);
    padding:10px;
    color:#fff;
    width:440px;
    margin:5px;
    @include transitionMenu;
    &:hover{
        @include grayGradientHover;
        border:1px solid #222;
        @include shadowMenuDark;
    }
    font-size:1em;
    h1 {
        @include text-shadow(black 1px 1px 2px);
        font-size:17px;
    }
}
.half {
    float:left;
    &:nth-child(even):after {
        content: ".";
        clear:both;
        display:none;
    }
}

div.information {
	border-radius: 5px;
	margin-top: 1em;
	padding-left: 0.8em;
	margin-right:55px;
	position:relative;
	background-color: rgb(255,214,94);
	@include filter-gradient(#ffd65e, #febf04, vertical);
	@include background-image(linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%));
	border: 1px solid #febf04;
	@include box-shadow($shadow5, $shadow1);
	padding:15px;
	&:after {
		position:absolute;
		right:-50px;
		top:10px;
		font-size:2em;
		line-height:1em;
		font-family:SymbolFont;
		content:"R";
		color:#febf04;
	    text-shadow:
	    	1px 1px 0px #333;
	}
	&:before {
		content:".";
		display:none;
		clear: both;
	}
}

div.homework {
	border-radius: 5px;
	margin-top: 1em;
	padding-left: 0.8em;
	margin-right:55px;
	position:relative;


background-color: #f2f6f8;
@include filter-gradient(#f2f6f8, #b5c6d0, vertical);
@include background-image(linear-gradient(top,  #f2f6f8 0%,#b5c6d0 100%));

	
	/*background-color: rgb(222,239,255);
	@include filter-gradient(#deefff, #98bede, vertical);
	@include background-image(linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%));
	*/border: 1px solid #98bede;
	@include box-shadow($shadow5, $shadow1);
	padding:15px;
	&:after {
		position:absolute;
		right:-50px;
		top:8px;
		font-size:2em;
		line-height:1em;
		font-family:SymbolFont;
		content:"A";
		color:#98bede;
	    text-shadow: 1px 1px 0px #333;		
	}
	&:before {
		content:".";
		display:none;
		clear: both;	
	}
	span.h3 {
		margin-top:0px;
	    @include box-shadow(#fff 0px 1px 1px);
	}
	span.h4 {
		margin-top:0px;
	    @include box-shadow(#fff 0px 1px 1px);		
	}
}


div.emphasize {
	  border-radius: 5px;
	  margin-top: 1em;
	  padding-left: 0.8em;
	  -webkit-box-shadow: 1px 1px 5px #cccccc;
	  -moz-box-shadow: 1px 1px 5px #cccccc;
	  box-shadow: 1px 1px 5px #cccccc;
	  margin-right: 55px;
	  position: relative;
	  background-color: rgb(254,187,187);
	  @include filter-gradient(#febbbb, #ff5c5c, vertical);
	  @include background-image(linear-gradient(top,  rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%));
	  @include text-shadow(1px 1px 0px #fff); 
	  border: 1px solid #ff5c5c;
	  -webkit-box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	  -moz-box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	  box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	  padding: 15px;
	  &:after {
		  position: absolute;
		  right: -50px;
		  top: 8px;
		  font-size: 2em;
		  line-height: 1em;
		  font-family: SymbolFont;
		  content: "e";
		  color:#ff5c5c;
		  text-shadow: -1px -1px 0px #333;	  
	  }
	  &:before {
		  content: ".";
		  display: none;
		  clear: both;
	  }
}

div.comment {
	background-color: #f2f6f8;
	@include filter-gradient(#f2f6f8, #e0eff9, vertical);
	@include background-image(linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%));
	border:1px solid #e0eff9;
	margin:0px;
}