#content {
	table {
		//margin-top: $blockMargin;
		thead {
			tr {
				th {
					padding:3px;
					font-weight: bold;
					border-bottom: 1px solid gray;
				}
			}
		}
		tbody {
			tr {
				&:nth-Child(even){
					background-color: lightgray;
					@include text-shadow(1px 1px 0px #fff);
				}
				td {
					padding:3px;
					border: 1px solid silver;
					min-width: 200px;
					&:first-Child {

					}	
				}
			}
		}
	}
}