/**************************************\
		   CONTENT - HEADINGS
\**************************************/
h1 {
	font-size: 2em;
	text-shadow:  1px 1px 0px #f2f2f2,
	            2px 2px 0px #777;
	padding: 0 0 2px 0;
	margin: 0 0 0 0;
	text-transform: uppercase;
	@include box-shadow(#fff 0px 2px 2px);
	line-height:2em;
	font-weight:bold;
}
h2 {
	font-size: 1.3em;
    padding: 0 0 4px 0px;
    margin: 10px 0 10px 0px;
    @include box-shadow(#fff 0px 2px 2px);
	border-bottom: 1px solid #ccc;
	font-weight:bold;
	line-height:1.5em;
	color:#ffbc40/*$AccentColor1*/;
	@include text-shadow(1px 1px 0px $AccentColor1Shadow);
	padding-right:150px;
}
h3,h4,h5,h6, span.h3, span.h4 {
    font-size:1.2em;
    font-weight:bold;  
    text-shadow:  1px 1px 1px #f2f2f2;
    padding: 0 0 4px 0px;
    margin: 20px 0 10px 0px;
    @include box-shadow(#fff 0px 2px 2px);
    border-bottom: 1px solid #ccc;
    display:block;
}