/**************************************\
	   Primary Colors
\**************************************/

$primary1:#FF7F00;
$primary2:#BF7730;
$primary3:#A65200;
$primary4:#FF9F40;
$primary5:#FFB873;


/**************************************\
	   Complimentary Colors
\**************************************/

$complimentary1:#04819E;
$complimentary2:#206676;
$complimentary3:#015367;
$complimentary4:#38B2CE;
$complimentary5:#60B9CE;

/**************************************\
	   Gradients
\**************************************/

