/**************************************\
	   IMPORT Other Content Files
\**************************************/

@import "contentColors";
@import "contentHeadings";
@import "contentArticle";
@import "contentForms";
@import "contentLists";
@import "contentImages";
@import "contentDivs";
@import "contentP";
@import "contentTables";
@import "../buttons/contentButtons";

/**************************************\
	   STANDARD CONTENT ELEMENTS
\**************************************/
pre, textarea, code {
  font-family: "UbuntuMonoRegular", monotype;
  font-size: 1em;
}
code {  background: #eee;
  padding-left: 5px;
  padding-right: 5px;
  @include box-shadow(inset 1px 1px 0px #777, 1px 1px 0px #fff);
}
strong {
    font-weight:bold;
}
em {
	font-style:italic;
}

#content a {
    color:#333;
    font-weight:bold;
    text-decoration: none;
    /*&:before {
		color:#febf04;
		content:"K";
		margin-right: 5px;
		font-weight: normal;
		@include text-shadow(1px 1px 0px #333);
	}*/
	&:hover {
		@include text-shadow(1px 1px 0px #fff);
	}
	&.toTop {
		margin-top:10px;
		display:inline-block;
		text-align:left;
		&:before {
			content:"";
		}
	}
}

blockquote {
	font-style: italic;
	margin:20px;
	border:1px solid silver;
	padding:10px;
	background:rgba(255,255,255,0.8);
	color:gray;
}

select {
	display:block;
}

#content p{
    text-align: justify;
    margin-bottom:5px;
}
.important {
    color:red;
    font-weight:bold;
}
#content {
    .article_content {
        padding:5px;
        p {
            margin-bottom:5px;
        }
    }
}
time {
    float:right;
   	color:#f2f2f2;
   	font-weight:bold;
	@include text-shadow(1px 1px 0px #fff,-1px -1px 0px #ccc);
	margin:0px 0px 15px 15px;
    position:absolute;
    top:29px;
    right:15px;
    &:hover {
	    color:#333;
    }
}
.gradientbox {
    width:198px;
    height:173px;
    border:$border2;
    margin-top: 15px;
    @include rounded;
    @include shadow;
    background: #fff;
    position: relative;
}
.gradientbox:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 75%, rgba(237,237,237,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(75%,rgba(243,243,243,1)), color-stop(80%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.newest:before {
    position:absolute;
    top:-11px;
    right: 6px;
    width: 100px;
    height: 23px;
    line-height: 23px;
    font-size: 1em;
    content:"new";
//  text-transform: uppercase;
    text-align: center;
    color:white;
    @include rotation(0deg);
    @include textShadowLightMenu;
    @include grayGradient;
    @include shadowMenu;
    @include rounded;
}

pre.print_r {
    padding-left:15px;
    border:2px solid #ccc;
    padding:10px;
    @include box-shadow(#fff 2px 2px 2px);
    margin-top:5px;
    position:relative;
    overflow:hidden;
}
pre.print_r:after {
	position: absolute;
	top:20px;
	right: -50px;
	width: 150px;
	height: 25px;
	line-height: 25px;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	content:"DEBUG";
	@include text-shadow(#999 1px 1px 1px);
    background-color: #ebf1f6;
    @include filter-gradient(#ebf1f6, #d5ebfb, vertical);
    @include background-image(linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%));
	text-align: center;
	@include box-shadow(0 1px 5px #999);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);   }
	

.notes {
	background: url('../img/papier2.png') -1px -4px;
	width:100%;
	display:block;
	margin-top: $blockMargin;
//	border: 1px solid #555;
	@include box-shadow(2px 2px 5px #999, inset 2px 2px 5px #999);
	@include border-radius(5px);
}

.height10 {
	height:5em;
}
.height20 {
	height:10em;
}
.height50 {
	height:20em;
}
.height50 {
	height:30em;
}
.height70 {
	height:30em;
}
.height90 {
	height:30em;
}
.height100 {
	height:30em;
}






/**************************************\
	   STANDARD CONTENT ELEMENTS
\**************************************/

.conclusion:before {
    content:"\27a5  ";
    font-size: 1.2em;
    color: $AccentColor1;
    @include text-shadow(1px 1px 0px #333);
}