/**************************************\
	   IMPORT Other Content Files
\**************************************/

@import "contentHeadings";
@import "../buttons/contentButtons";
@import "contentArticle";
@import "contentForms";
@import "contentLists";
@import "contentImages";
@import "contentDivs";
@import "contentP";
@import "contentTables";
@import "contentColors";

/**************************************\
	   STANDARD CONTENT ELEMENTS
\**************************************/
pre, textarea {
  font-family: "UbuntuMonoRegular", monotype;
  font-size: 1em;
}

strong {
    font-weight:bold;
}
em {
	font-style:italic;
}
blockquote {
	font-style: italic;
	margin:20px;
	border:1px solid silver;
	padding:10px;
	background:rgba(255,255,255,0.8);
	color:gray;
}

#content p{
    text-align: justify;
    margin-bottom:5px;
}
.important {
    color:red;
    font-weight:bold;
}
#content {
    .article_content {
        padding:5px;
        p {
            margin-bottom:5px;
        }
    }
}
time {
    float:right;
    color:#ffbc40/*$AccentColor1*/;
    @include text-shadow(1px 1px 0px $AccentColor1Shadow);
    margin:0px 0px 15px 15px;
    position:absolute;
    top:29px;
    right:15px;
}
time:before {
    content:"P ";
    color:#ccc;
    @include text-shadow(1px 1px 0px #333);
}
.gradientbox {
    width:198px;
    height:173px;
    border:$border2;
    margin-top: 15px;
    @include rounded;
    @include shadow;
    background: #fff;
    position: relative;
}
.gradientbox:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 75%, rgba(237,237,237,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(75%,rgba(243,243,243,1)), color-stop(80%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 75%,rgba(237,237,237,1) 80%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.newest:before {
    position:absolute;
    top:-11px;
    right: 6px;
    width: 100px;
    height: 23px;
    line-height: 23px;
    font-size: 1em;
    content:"new";
//  text-transform: uppercase;
    text-align: center;
    color:white;
    @include rotation(0deg);
    @include textShadowLightMenu;
    @include grayGradient;
    @include shadowMenu;
    @include rounded;
}

pre.print_r {
    padding-left:15px;
    border:2px solid #ccc;
    padding:10px;
    @include box-shadow(#fff 2px 2px 2px);
    margin-top:5px;
    position:relative;
    overflow:hidden;
}
pre.print_r:after {
	position: absolute;
	top:20px;
	right: -50px;
	width: 150px;
	height: 25px;
	line-height: 25px;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	content:"DEBUG";
	@include text-shadow(#999 1px 1px 1px);
    background-color: #ebf1f6;
    @include filter-gradient(#ebf1f6, #d5ebfb, vertical);
    @include background-image(linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%));
	text-align: center;
	@include box-shadow(0 1px 5px #999);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);   }
	
	
.homework {
	border-radius: 5px;
	margin-top: 1em;
	padding-left: 0.8em;
	-webkit-box-shadow: 1px 1px 5px #cccccc;
	-moz-box-shadow: 1px 1px 5px #cccccc;
	box-shadow: 1px 1px 5px #cccccc;
	margin-right:55px;
	position:relative;
	background-color: #d5ebfb;
	border: 1px solid #89c3eb;
	-webkit-box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	-moz-box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	padding:15px;
}
.homework span.h3 {
	color: #378de5;
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
	font-weight:bold;
	font-size:1.2em;
}
.homework:after {
	position:absolute;
	right:-50px;
	top:8px;
	font-size:2em;
	line-height:1em;
	font-family:SymbolFont;
	content:"A";
	color:#89c3eb;
    text-shadow: #fff 1px 1px 0px,2px 2px 0px #d5ebfb,-1px -1px 0px #777;
}
.homework:before {
	content:".";
	display:none;
	clear: both;
}

.notes {
	background: url('../img/papier2.png') -1px -4px;
	width:100%;
	display:block;
	margin-top: $blockMargin;
//	border: 1px solid #555;
	@include box-shadow(2px 2px 5px #999, inset 2px 2px 5px #999);
	@include border-radius(5px);
}

.height10 {
	height:5em;
}
.height20 {
	height:10em;
}
.height50 {
	height:20em;
}
.height50 {
	height:30em;
}
.height70 {
	height:30em;
}
.height90 {
	height:30em;
}
.height100 {
	height:30em;
}

.information {
	border-radius: 5px;
	margin-top: 1em;
	padding-left: 0.8em;
	-webkit-box-shadow: 1px 1px 5px #cccccc;
	-moz-box-shadow: 1px 1px 5px #cccccc;
	box-shadow: 1px 1px 5px #cccccc;
	margin-right:55px;
	position:relative;
	background-color: #ffce73;
	border: 1px solid #ffa500;
	-webkit-box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	-moz-box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	box-shadow: inset 0px 1px 5px white, 0px 1px 2px #555555;
	padding:15px;
}
.information:after {
	position:absolute;
	right:-50px;
	top:10px;
	font-size:2em;
	line-height:1em;
	font-family:SymbolFont;
	content:"R";
	color:#ffa500;
    text-shadow: #fff 1px 1px 0px,2px 2px 0px #ffce73,-1px -1px 0px #777;
}
.information:before {
	content:".";
	display:none;
	clear: both;
}




/**************************************\
	   STANDARD CONTENT ELEMENTS
\**************************************/

.conclusion:before {
    content:"\27a5  ";
    font-size: 1.2em;
    color: $AccentColor1;
    @include text-shadow(1px 1px 0px #333);
}