/**************************************\
		   CONTENT - LISTS
\**************************************/
#content section ol {
    list-style-type:decimal;
    margin:20px 0px;
    li {
        margin-left:20px;
        margin-bottom:8px;
    }
}
#content section ul {
    list-style-type: square;
    margin:20px 0px;
    > li {
	    margin-left: 20px;
	    margin-bottom: 8px;
    }
}
.homework li, .information li,  .emphasize li {
	margin-left: 20px;
	margin-bottom: 8px;
}

#content section div.markItUp ul li {
	margin-left:2px;
}


